*{
    margin:0;
    padding:0;
}
body{
    background-color:#f4e1d2;
}
nav {
    background-color:#50394c;
    height:3.5rem;
    color: #f4e1d2;
    font-size:1.5rem;
    display: flex;
    align-items:center;
    padding-left:1rem;


}
nav ul{
    list-style-type:none;
    font-family: "Montserrat", sans-serif;

}
.gameContainer{
    margin-top:2rem;
    display: flex;
    justify-content:center;
    font-family: "Roboto", sans-serif;
}
.container{
    display:grid;
    grid-template-rows:repeat(3,10vw);
    grid-template-columns:repeat(3,10vw);
    position:relative;
}
.box{
    border:2px solid  black;
    font-size:8vw;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.box:hover{
    background-color:#b2b2b246;
}
.imgBox img{
    width:0vw;
    transition:width 1s ease;
}
    
.gameInfo{
    margin-left:1rem;
}
.info{
 font-size:25px;   
}
.bb{
    border-bottom:0;
}
.bt{
    border-top:0;
}
.bl{
    border-left:0;
}
.br{
    border-right:0;
}
.btn{
    margin-left:20px;
    margin-top:20px;
    font-family: "Montserrat", sans-serif;
    width:230px;
    background-color:#ffef96;
    color: #50394c;
    border:2px solid black;
    border-radius:10px;
    font-weight:bold;
    font-size:20px;
    cursor:pointer;
    padding:0.3rem;
}
.line{
    height:2.5px;
    width:0vw  ; 
    background-color: #2f202d;
    border-radius:2px;
    position:absolute;
    transition:width 1s ease-in-out;
    /* transform: translate(0vw, 30vw) rotate(-45deg); */
}

@media (max-width: 750px) {
    .gameContainer{
        flex-direction:column;
        align-items:center;
    }
    .gameInfo{
    margin-top:4rem;
    }
    .container{
    grid-template-rows:repeat(3,20vw);
    grid-template-columns:repeat(3,20vw);
    }
    h1{
        font-size:1.5rem;
    }
    .info{
        font-size:20px;   
    }
    .btn{
        font-size:16px;
        width:180px;
    }
}
